 .heading {
    font-size: 32px;
    margin-bottom: 10px;
   
  }
  
  .count {
    font-size: 48px;
    
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #4f46e5;
    color: white;
   
  }
  
  .button:hover {
    background-color: #3730a3;
  }